 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 .container {
     min-height: 100vh;
     width: 100%;
     overflow: hidden;
     background-color: #9e9e9e;

 }

 .header {
     width: 100%;
     background-color: #063335;
     height: 75px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #fff;
 }

 /* logo section */
 .logo-section {
     display: flex;
     justify-content: space-around;
     width: 250px;
     align-items: center;
     cursor: pointer;
     padding-left: 10px;
 }

 .logo-section img {
     height: 50px;
     width: 50px;
     border-radius: 50%;
 }

 .logo-section h2 {
     font-size: 26px;
     position: relative;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 3px;
 }


 .logo-section h2::after {
     position: absolute;
     content: "";
     width: 0;
     left: 0;
     bottom: -4px;
     background: white;
     height: 2px;
     transition: 0.3s ease-out;
 }

 .logo-section h2:hover::after {
     width: 100%;
 }

 /* End logo section */

 /* start */
 .header-links {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     position: relative;
 }

 .header-links .github-link {

     width: 100px;
     height: 50px;
     border-radius: 10px;
     margin-right: 50px;
     text-align: center;
     color: black;

 }


 .github-link a i {
     color: #fff;
     font-size: 40px;
     text-decoration: none;
     margin-top: 4px;
     transition: .5s;
 }

 .github-link a i:hover {
     color: #d1c7c7;
     transform: scale(0.95);
     transition: all 0.3s;

 }

 .header-links .bar {
     margin-right: 50px;
     font-size: 25px;
     cursor: pointer;
 }

 .header-links .bar:hover {
     color: #899496;
 }

 .social-media {
     position: absolute;

     color: black;
     top: 80px;
     left: 25px;
     right: 0;
     height: 120px;
     /* right: 50px; */
     width: 80%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-evenly;
     border-radius: 7px;
     background: #868181;
     box-shadow: 5px 5px 2px #c4b9b9, -5px -5px 2px #cec7c7;
     padding: 15px;

     transition: .5s;
     transform: translateX(150%);
     transition: transform ease-out 0.6s
 }

 .header-links .social-media.is-active {

     transform: translateX(0);


 }

 .social-media i {
     font-size: 20px;
 }

 .social-media a {
     text-decoration: none;

     transition: .5s;
 }

 .social-media a:hover {
     color: black;
     transform: scale(0.8);
     transition: all 0.3s;
 }

 .social-media .social {
     display: inline;
     color: black;
     font-size: 15px;
     font-weight: bolder;
     margin-left: 10px;
     margin-right: 45px;
     padding: 10px;
 }

 /* header section end */


 .project-title {
     width: 100%;
     height: auto;
     background-color: #c4b9b9;
     margin: 15px 0;
     color: rgb(0, 0, 0);
     text-align: center;
     padding: 17px;
 }

 .main-head h6 {
     font-size: 25px;
     font-weight: bolder;
     text-shadow: 1px 1px 2px #0f1213;
     letter-spacing: 1px;
 }

 .text-contents p {
     font-weight: 600;
     font-size: 18px;
     letter-spacing: 1px;
     margin-top: 10px;
 }

 /* title content end */

 /* project section  */

 .project-section {
     min-height: 100vh;
     width: 100%;
     margin-top: 30px;
     overflow: hidden;
 }

 .project-list {
     min-height: 100vh;
     text-align: center;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     row-gap: 40px;
 }

 .project-list .project-card {
     height: 400px;
     width: 300px;
     background-color: #fff;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     z-index: 1;
     margin: auto;

 }


 .project-card img {
     height: 300px;
     width: 100%;
     object-fit: cover;
     border: none;
     border-radius: 10px 10px 0 0;
     background-color: #77c785;
 }

 .project-details {
     height: 100px;
     width: 100%;
     background-color: #00bcd4;

 }

 .project-details h3 {

     color: #0f1213;
     width: 100%;
     text-align: center;
     font-weight: 700;
     font-size: 20px;
     margin-top: 5px;
     margin-bottom: 10px;
     text-shadow: 1px 1px .5px black;

 }

 .btn-group {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;


 }

 .project-details a {
     color: #fff;
     text-decoration: none;
     background-color: #063335;
     padding: 9px 16px;
     cursor: pointer;
     font-weight: 600;
     font-size: 16px;
     border: none;
     border-radius: 10px;

 }
 .project-details a:hover{
    box-shadow: 4px 5px 2px  #8fa0a1, -5px -5px 2px  #acbebe;
    text-shadow: 1px 1px 1px #ffffff;
 }
 .footer-text {
     display: flex;
     justify-content: center;
     align-items: flex-end;
     flex-wrap: wrap;
     background-color: #222;
     color: white;
     padding: 20px;
     left: 0;
     bottom: 0;
     width: 100%;
     text-align: center;
     font-size: 15px;
     letter-spacing: 1px;
     margin-top: 20px;



 }

 footer p .year {
     color: #03f90d;
 }

 footer p .hacker {
     color: #1fb4cd;
 }

 /* footer end */
 /* media query 446 mobile */

 @media (max-width:427px) {
     .logo-section h2 {
         font-size: 18px;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 2px;

     }

     .github-link a i {
         color: #fff;
         font-size: 30px;
         margin-top: 10px;

     }

     .logo-section img {
         height: 50px;
         width: 50px;

     }

     .header-links .bar {
         margin-right: 50px;
         font-size: 24px;
         cursor: pointer;
     }

     .project-section .project-list {
         grid-template-columns: repeat(1, 1fr);
         row-gap: 30px;
     }

 }

 /* @media (max-width:768px) {
    .project-section .project-list {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
 } */